body {

     background: linear-gradient(to right, #6B7FD7, #4C2A85);
          display: flex;

 }

 table {
    border-collapse: collapse; /* makes borders merge into single lines */
    width: 100%;
}

table, th, td {
    border: 1px solid black; /* border lines */
}

th, td {
    padding: 10px;
    text-align: left;
}
