body {

     background: linear-gradient(to right, #6B7FD7, #4C2A85);
          display: flex;
          color:rgb(77,45,136) ;

 }


#container {


  height: 800px;
    margin:0 auto;
    width:80%;
    background-color:#AAAAAA;
    padding-top:5px; }



 table {
    border-collapse: collapse; /* makes borders merge into single lines */
    width: 100%;
}

table, th, td {
    border: 1px solid black; /* border lines */
}

th, td {
    padding: 10px;
    text-align: left;
}

  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:rgb(77,45,136);

}

 li{
    float:left;
 }

li a {
    text-decoration: none;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
}
