

 /* General page style */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4C2A85, #6B7FD7);
    margin: 0;
    padding: 0;


}

  img {
    float: left;
  width:293px;
  height:286px;
}


/* Center content vertically & horizontally */
#container {
   /* justify-content: center; */
  /* display:flex;  */
    height: 800px;
    margin:0 auto;
    width:80%;
    background-color:#AAAAAA;
    padding-top:5px;
}

/* Welcome heading */
h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

/* Subheading or welcome text */
p {
    font-size: 14pt;
    line-height: 1.5;
    padding-left:10px;
    padding-right:10px;

}
span{
    font-size:20pt;
    font-weight:bold;
    font-family:Aarial,sans-serif;

}





/* Button style */
button, a.button {
    background-color: white;
    color: #007BFF;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

button:hover, a.button:hover {
    background-color: #0056b3;
    color: black;
    transform: scale(1.05);
}


ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:rgb(77,45,136);

}

 li{
    float:left;
 }

li a {
    text-decoration: none;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
}
